
#createProject {

    height: 100vh;
    
    .tab {
        background-color: rgb(141, 207, 242) !important;
        margin-right: 0.1rem !important;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
    }
    
    .tab:focus {
        background-color: rgb(109, 163, 191)!important;
    }

    .buttonsWrap {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 100%;
    }

}
