
// Import rules from subsheets
@import 'react-toastify/dist/ReactToastify.css';


body {
	font-family: 'Noto Sans', sans-serif;
	margin: 0 auto;
	padding: 0;
	// background-color: #f5f5f5;
	box-sizing: border-box;
}


.css-1oqqzyl-MuiContainer-root {
	max-width: 1570px !important;
}

// outer container
.container {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
}

// inner container
.wrapper {
	min-height: 100%;
	margin-bottom: 4rem;
	margin: auto;
	margin-top: 4rem;
	max-width: 1440px;
	box-sizing: border-box;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 !important;
	margin: 0 !important;
}

.mb-2 {
  	margin-bottom: 2rem;
}

svg {
  	cursor: pointer;
}

a {
	text-decoration: none !important;
}

// error text
.error {
	color: #ff0000 !important;
}

.MuiFormHelperText-root {
	color: #ff0000 !important;
}

.tabPanel::-webkit-scrollbar {
	width: 8px !important;
}
  
.tabPanel::-webkit-scrollbar-thumb {
	background-color: #999 !important;
	border-radius: 5px !important;
}

.tabPanel::-webkit-scrollbar-track {
	background-color: #ddd !important;
	border-radius: 5px !important;
}

.css-whebh7-MuiInputBase-root-MuiInput-root:before,
.css-whebh7-MuiInputBase-root-MuiInput-root:after {
	border: none !important;
}

// edit project -> text field (number)
#editProjectWrapper {
	.css-whebh7-MuiInputBase-root-MuiInput-root:before,
	.css-whebh7-MuiInputBase-root-MuiInput-root:after {
		display: flex !important;
		// border: none;
		justify-content: center !important;
		align-items: center !important;
	}
	#num {
		display: flex;
		text-align: center;
		// width: 20% !important;	
		justify-content: center !important;
		align-items: center !important;
	}

	// remove arrows in TextField
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
		-webkit-appearance: none !important; 
		margin: 0; 
	}
}

// zebra striped list
.even {
	background-color: #8dcff21f;
}

// table
.css-1ex1afd-MuiTableCell-root {
	border-bottom: none !important;
}


.css-17qj732-MuiTableCell-root {
	vertical-align: bottom !important;
}

// empty input field
#emptyFields {
	.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
		border: 1.5px solid rgb(92, 152, 235) !important;
	}

}